<%- include('../partials/header.ejs') %>

<h1><%= promo.name %></h1>
<a href="<%= promo.github_organization %>">Github</a><br>
<a href="/promos/<%= promo.id %>/students">Liste des étudiants de la promo</a>


<%- include('../partials/footer.ejs') %>